[Unit]
Description={{DOMAIN}} (job runner)
After=network.target

[Service]
Type=simple
User=deployer
WorkingDirectory={{DIR}}/release
ExecStart={{RUBY}} -S bundle exec lux job_runner:start
Restart=always
RestartSec=5
EnvironmentFile=-{{DIR}}/.env

[Install]
WantedBy=multi-user.target
